tiktoken
gitpython
python-dotenv
unidiff
chardet
python-Levenshtein
PyJWT
networkx
pylint
astor
beautifulsoup4
lxml
setuptools
faiss-cpu
tree_sitter
tree_sitter_languages
inquirer
rich
prompt_toolkit
supabase
cryptography

configargparse
GitPython
openai
tiktoken
jsonschema
rich
prompt_toolkit
numpy
scipy
backoff
pathspec
networkx
diskcache
grep_ast
packaging
sounddevice
soundfile
beautifulsoup4
PyYAML
Pillow
diff-match-patch
playwright
pypandoc
